@import url('https://fonts.googleapis.com/css2?family=Roboto');

html {
  -webkit-text-size-adjust: 100%;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  line-height: 1.5;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}